.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.search-areas .left-section img,
.search-areas .right-section img {
    cursor: pointer;
}

.search-areas input {
    width: 500px;
    height: 35px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.search-button {
    cursor: pointer;
    background-color: #f8f8f8;
    border: none;
    padding: 0 20px;
    border-radius: 3px;
    margin-left: 10px;
}

.right-section img {
    margin-left: 20px;
    width: 25px;
    height: 25px;
}

.header img {
    height: 30px;
}
